
<!--{% if username %}
Welcome {{username}}        <a href="/logout">Logout</a><p>
{% else %}
You are not logged in!        <a href="/login">Login</a> | <a href="/signup">Sign Up</a><p>
{% endif %}
<a href="/">Blog Home</a><br><br>-->
<div ng-controller="view12Ctrl">
<form ng-submit="submitEdit()" class="navbar-form navbar-left" name="newpost">
{{errors}}
<h2>Title</h2>
<input type="text" name="subject" ng-model="post.title" size="120" placeholder="Subject" readonly><br>

<h2>Blog Entry</h2>

<div class="form-group">
<!--<div text-angular ng-model="post.body" name="content"></div>-->
<textarea name="textarea" rows="10" cols="150" ng-model="post.body"></textarea>
</div>
<h2>Tags</h2>
Comma separated, please<br>
<input type="text" name="tags" size="120" ng-model="post.tags" readonly><br>
<input type="submit" value="Submit" id="submitedit">
</form>
</div>


