.container { padding : 0 }

.navbar-form { padding : 0 }

.navbar-fixed-top { text-align : center; }

h2 { color : #337ab7 }

.clickable { text-decoration: underline; cursor:pointer }

/* li { display : inline-block } */

[ng-message|="required"] { color : red; font-size : 1.5 em !important }

hr { border-top: 1px solid #888; }

#comments { color : #235580; font-size : 20px; margin-bottom : 20px;  }

tbody { background-color : #fef7f1 }

button { color : #235580; border-color: #235580;
    margin-top: 5px; }
	
#submitComment { margin-bottom : 30px; }

li { cursor : pointer; display : inline-block !important }

td.label { color : #222222 }

span { margin : 8px; cursor : pointer; }