.navbar-form { padding : 0 }

.navbar-fixed-top { text-align : center; }

h1 { color : #00b7ff; }

.clickable { text-decoration: none; cursor:pointer; color : #FF5722 !important; }

/* li { display : inline-block } */

[ng-message|="required"] { color : #c50a2e; font-size : 1.5 em !important }

hr { border-top: 1px solid #888; }

#comments { color : #000000; font-size : 20px; padding-bottom: 30px;}

table { background-color : #eee }

button { color : #235580; border-color: #235580;
    margin-top: 5px; }
	
#submitComment { margin-bottom : 30px; }

li { cursor : pointer; display : inline-block !important }

div.pbody ul li { display : block !important }

td.label { color : #222222 }

span { margin : 8px; cursor : pointer; }

#commentbox { border : 1px solid #235580; padding : 15px; }

#approve { padding-left : 15px; }

.pbody { padding : 15px; }

h3#selectpost { color : #c502ae }

.error { color : #ff0f0f; }

#submitsignup { margin-top : 6px; }

md-toolbar {color:#ffffff !important; font-size: 48px !important; width:inherit; box-shadow: 0px 0px 2px 2px}

.md-nav-bar {
    height: 54px !important;
    background-color: transparent;
    border-color: '{{foreground-4}}';
}

._md-nav-button {padding : 0 16px !important;}

a {color:#FF5722}

button {color:#ffffff !important;}

textarea#commentBody {width:500px}

form#commentform {padding-bottom: 100px}

#commentTB {
    width: 1015px;}

footer {background-color: #ccc}

div#info {width:400px; height:400px;  margin-top:40px}

ul#infoList {margin-top:10px}

ul#infoList > li {display:block !important; padding:15px; }

