<div ng-controller="View1Ctrl">
<div ng-hide="user"><p>You are not logged in!</p><span ng-click="login()">Login  </span>|<span ng-click="signUp()">Sign  Up</span></div>
<div ng-show="user"><span>Welcome {{username}}</span><span ng-click="logout()">LOGOUT</span><ul class="nav nav-tabs">  
    <li><a href="#/view3">NEW POST</a></li>
     <li><a href="#/view4">ADMIN</a></li>
     <li><a href="#/view11">EDIT POST</a></li></ul>
     </div>

<h1>Jim Sward</h1>
<div ng-repeat="post in myposts track by $index" >
<h3 ng-click="toView2( post.permalink )" class="clickable">{{post.title}}</h3>
Posted {{post.date}} <i>By {{post.author}}</i><br>
<!--<hr>-->

<!--<div ng-bind-html="post.body | unsafe" id={{$index}} class="pbody"></div>-->
<div ng-bind-html="post.body" id={{$index}} class="pbody"></div>

<br>
<em>Filed Under</em>:
<div ng-repeat="tag in post.tags track by $index">
<p ng-click="byTag(tag)" class="clickable">{{tag}}</p>
</div><!--inner ng-repeat-->
</div><!--outer ng-repeat-->
</div><!--view1Ctrl-->