<div ng-controller="View1Ctrl">
<h1>Jim Sward</h1>
<div ng-repeat="post in myposts track by $index" >
<h2 ng-click="toView2( post.permalink )" class="clickable">{{post['title']}}</h2>
Posted {{post.date}} <i>By {{post.author}}</i><br>
<hr>

<div ng-bind-html="post.body | unsafe" id={{$index}} pbody></div>

<br><br>
<em>Filed Under</em>:
<div ng-repeat="tag in post.tags track by $index">
<p ng-click="byTag(tag)" class="clickable">{{tag}}</p>
</div><!--inner ng-repeat-->
<hr>
</div><!--outer ng-repeat-->
</div><!--view1Ctrl-->

